.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-prev:before {
  content: "<";
  color: red;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: red;
  font-size: 30px;
}

.slider-arrow {
  position: absolute;
  /* display: flex;
  justify-content: space-between; */
  height: 200%;
  width: 100%;
  top: 50%;
}
/* .arrow-btn {
  top: 0px;
  z-index: 1;
} */

.arrow-btn-prev {
  z-index: 1;

  left: 10px;
}

.arrow-btn-next {
  float: right;
  z-index: 1;
}
