.slider-arrow-scans {
  position: absolute;
  /* display: flex;
    justify-content: space-between; */
  height: 100%;
  width: 100%;
  top: 40%;
}
/* .arrow-btn {
    top: 0px;
    z-index: 1;
  } */

.arrow-btn-prev-scans {
  float: left;
  right: 18px;
  z-index: 1;
}

.arrow-btn-next-scans {
  float: right;
  left: 27px;
  z-index: 1;
}
