.slider-arrow-scans {
  position: absolute;
  /* display: flex;
    justify-content: space-between; */
  height: 100%;
  width: 100%;
  top: 40%;
}
/* .arrow-btn {
    top: 0px;
    z-index: 1;
  } */

.arrow-btn-prev-scans {
  float: left;
  right: 18px;
  z-index: 1;
}

.arrow-btn-next-scans {
  float: right;
  left: 27px;
  z-index: 1;
}

.our_scans {
  position: relative;
}
.our_scans::before {
  content: "";
  background: url(../../Assets/Scans_img/hand_shake.webp) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  opacity: 0.2;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.message .success{
  font-size: 20px;
  color: white;
  position: absolute;
  animation: buttons .3s linear;
  display: none;
}