/* .container{
    position: relative;
}

.heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.bg-img{
    background-image: linear-gradient(to right, #1a0e69, #1ebaba);
}

.map{
    filter: grayscale(70%) invert(92%) contrast(83%);
  }