.slider-arrow-carousel {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 50%;
}

.arrow-btn-prev-carousel {
  float: left;
  left: 10px;
  z-index: 1;
}

.arrow-btn-next-carousel {
  float: right;
  right: 25px;
  z-index: 1;
}

.watermark {
  position: relative;
}
.watermark::before {
  content: "";
  background: url(../../Assets/aarnaLabImg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  opacity: 0.1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* z-index: -1; */
}
