footer {
  background-color: #122738;
}

.row {
  display: flex;
  position: relative;
  flex-direction: row;
}

.col {
  display: inline-block;
  padding: 75px;
  color: white;
  font-size: small;
}

ul {
  list-style: none;
}
